div.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 2px darkgrey solid;
}

main {
  display: flex;
  flex-grow: 1;
}
aside {
  min-width: 240px;
  padding: 15px;
  background-color: rgb(6, 6, 44);
  color: white;
}
section.page {
  flex-grow: 1;
}
.error {
  color: red;
  margin: 10px 0px;
}
.page {
  font-weight: bold;
}

h1 {
  font-size: 35px;
}
